.news {
    @extend .container;
    @include padding-top(6rem);
    @include padding-bottom(6rem);
    &-date {
        font-style: italic;
        color: $primary;
        margin-bottom: $paragraph-margin-bottom;
    }
}
